* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
main,
footer,
header {
  display: inline-block;
  width: 1000px;
  margin: 0 calc(50% - 500px);
}

header,
main {
  margin-bottom: 60px;
}

header img {
  float: left;
  width: 48px;
  height: auto;
}
nav {
  float: right;
  margin-left: 50px;
}
nav > a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
  margin-left: 50px;
}
nav a:first-child {
  margin: 0;
}

nav > a:hover {
  text-decoration: underline;
  color: #662c8c;
}

footer div {
  float: left;
}
footer p {
  float: right;
}

footer div > a {
  background-color: yellow;
}
